@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif */

.contenedor_manu{
    background-color: rgb(247, 250, 252);
}

*{
    font-family: 'Roboto', sans-serif;
}

.contenedor_ac {
    font-size: 12px;
}

/* icono del input sin bordes  */

.input-group-text {
    padding: 0px !important;
} 
.btn_acsa {
    padding: 0px !important;
}

.btn_for {
    height: 30px;
    width: 40px;
    background-color: rgb(5, 107, 202);
    position: relative;
    top:20px;
    border-radius: 7px;
    margin: 0px ;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;   
}


.sizeprograma{
    width: 55px ;
}

.sizeno{
    width: 20px;
}

.sizeuniversidad{
    width: 400px ;
}

.sizeinst{
    width: 128px;
}
.sizeciclo{
    width: 80px ;
}
.sizegrado{
    width: 80px ;
}
.sizeespecialidad{
    width: 200px;
}
.sizetema{
    width: 300px;
}
.sizeprogramas{
    width: 170px ;
}
.sizenivel{
    width: 80px;
}
.sizeactualizacion{
    width: 100px;
}



.sizetipoamonestacion{
    width: 140px;
}

.sizefechaamonestacion{
    width: 100px;
}

.sizemotivoamonestacion{
    width: 300px;
}

/* actualidad laboral */

.sizeempresa{
    width: 150px;
}
.sizefecha{
    width: 100px;
}

.sizerubro{
    width: 150px;
}
.sizecargo {
    width: 150px;
}

.sizemotivo{
    width: 400px ;
}



.sizefecha{
    width: 60px;
}
.sizearea{
    width: 80px;
}